html
  head
    title= title
  body
    h1= message
    div 
    each episode in episodes
      div
      table
        tr
         td No:#{episode.number}
        tr
         td Director: #{episode.director}
        tr
         td Title: #{episode.title}
        tr
          td #{episode.synopsis}
        hr